<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 30px 0 0 150px">
  <div class="col" *ngFor="let product of products">
    <div class="card h-100" style="width: 18rem;">
      <img [src]="product.image" class="card-img-top fixed-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <h3 class="card-title">{{ product.category }}</h3>
        <h3 class="card-title">{{ product.price }}</h3>
        <a [routerLink]="['/products/details', product.id]" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
